Source: git-flow
Section: vcs
Priority: extra
Maintainer: Ilkka Laukkanen <ilkka.s.laukkanen@gmail.com>
Build-Depends:
 debhelper (>= 7.0.50~),
 git (>= 1:1.7.0)
Standards-Version: 3.8.4
Homepage: http://github.com/nvie/gitflow

Package: git-flow
Architecture: all
Depends:
 ${misc:Depends},
 git (>= 1:1.7.0)
Description: Git helpers that implement Vincent Driessen's branching model
